<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<body>
<a href="/"> Hem</a>
<h2>Test</h2>
<div class="allTemp" th:unless="${#lists.isEmpty(allTemp)}">

    <table>
        <tr>
            <th>Datum</th>
            <th>Temperarurer</th>
        </tr>
        <tr th:each="cat : ${allTemp}">
            <td th:text="${cat.datum}"></td>
            <td th:text="${cat.temp}"></td>
        </tr>
    </table>
</div>


</body>
</html>